<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="/css/icon.css">

<footer class="blog-footer content-wrapper">
  <p>
    <a href="https://fb.com/linamy85"><img height="30" src="/assets/images/facebook.png" class="icon" /></a>
    &nbsp;&nbsp;
    <a href="https://github.com/linamy85"><img height="30" src="/assets/images/github-sign.png" class="icon" /></a>
    &nbsp;&nbsp;
    <a href="https://linkedin.com/in/linamy85"><img height="30" src="/assets/images/linkedin.png" class="icon" /></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
  <a class="copyright">
    &copy; <span class="full-year"></span> {{ site.title }}</p>
  </a>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
