<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<link rel="stylesheet" href="/css/icon.css">

<footer class="blog-footer content-wrapper">
  <p>
  <a href="//fb.com/linamy85"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
  <a href="//github.com/linamy85"><i class="fa fa-github"></i></a>&nbsp;&nbsp;
  <a href="//linkedin.com/in/linamy85"><i class="fa fa-linkedin"></i></a>&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;
  <a class="copyright">
    &copy; <span class="full-year"></span> {{ site.title }}</p>
  </a>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>
